nav{
    display: flex;
    background-color:white;
    align-items: center;
    height: 100px;
}
button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    border-radius: 20px;
    text-decoration-line: none;
    cursor: pointer;
}
.buttom{
    display: flex;
    margin-left: 560px;
    align-items: center;
    gap: 25px;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.9s;
    transform: scale(1.1);
    transition: 0.5s;
}
.az{
    background-color: darkcyan;
}
.aa{
    margin-left: 550px;
    color: white;
}
h2{
    margin-left: 100px;
    cursor: pointer;
}
h2:hover{
    color: darkcyan;
    margin-left: 100px;
    cursor: pointer;
}
.e {
    background-color: white;
    color: darkcyan;
    border: 2px solid darkcyan;
    transition: 0.5s;
    margin-left: 670px;
}

.e:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.1);
    border: 1px solid white;
}
.qop{
    color: white;
    text-align: center;
}